@charset "UTF-8";
@font-face {
  font-family:"mehr-nastaleeq";
  src: url("mehr-nastaleeq.ttf") format("truetype");
}

body {
  /*margin: 0;*/
  text-align: right;
  font-family: mehr-nastaleeq;
  font-size: 20px;
}

.column {
  float: right;
  padding: 10px;
}

.column.side {
  width: 25%;
}

.column.middle {
  width: 50%
}

.big-container:after {
  content : "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%
  }
}